main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 16px;
}

@media (min-width: 1024px){
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 16px;
    }
    
}