/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 

@import 'header';
@import 'mainSection';
@import 'card';
@import 'button';


#home-page{
    max-width: 327px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;    
}
